<!DOCTYPE html>
<html>
<head>
<title>{{ name }}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#<meta name="keywords" content="Best Bakery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, #}
{#Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />#}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- animation-effect -->
<link href="/static/css/animate.min.css" rel="stylesheet">
<script src="/static/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<link href='https://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
</head>
	
<body>
<!-- banner -->
	<div class="banner-figures">
		<div class="banner1">
			<div class="container banner-drop">
				<div class="header header1">
					<div class="header-left">
                        <ul>
                            <li class="animated wow fadeInLeftBig" data-wow-duration="1200ms" data-wow-delay="800ms"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ name }} </li>
                        </ul>
                        <br><br>
					</div>
					<div class="header-right header-right1">
						<nav>
						  <ul>
							<li>
								<a href="/"><i class="glyphicon glyphicon-home" aria-hidden="true"></i><span>主页</span></a>
							</li>
							<li>
								<a href="/search"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i><span>搜索</span></a>
							</li>
							<li>
								<a href="/recommend"><i class="glyphicon glyphicon-text-size" aria-hidden="true"></i><span>每日推荐</span></a>
							</li>
                              <li>
								<a href="/classify"><i class="glyphicon glyphicon-picture" aria-hidden="true"></i><span>分类</span></a>
                              </li>
                              <li>
								<a href="/mail"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>留言</span></a>
							</li>
						  </ul>
						</nav>
						<div class="menu-icon animated wow zoomIn" data-wow-duration="1000ms" data-wow-delay="800ms"><span></span></div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="logo animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h1><a><span>生活需要多一点滋味</span>“每时美味”</a></h1>
				</div>
			</div>
		</div>
			<script>
				(function($){
				  $(".menu-icon").on("click", function(){
						$(this).toggleClass("open");
						$(".container").toggleClass("nav-open");
						$("nav ul li").toggleClass("animate");
				  });
				  
				})(jQuery);
			</script>
	</div>
<!-- //banner -->
<!-- blog -->
	<div class="blog">
		<div class="container">
			<div class="col-md-12 blog-left">
				<div class="comments-list hover14 column animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3><a href="single.html">{{ name }}</a></h3>
{#					<ul>#}
{#						<li><a href="single.html" class="bake">City Bakery</a> <i>|</i></li>#}
{#						<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>31 March 2016 <i>|</i></li>#}
{#						<li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>3 Comments</a> <i>|</i></li>#}
{#						<li><a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>200 Likes</a> <i>|</i></li>#}
{#						<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>James Kale</a></li>#}
{#					</ul>#}
					<div>
						<figure><a href="single.html"><img src="{{ image_url }}" alt=" " class="img-responsive" /></a></figure>
					</div>
					<p>材料：<br>{{ makings }}</p>
                    <hr>
                    <p>做法：<br>{{ work }}</p>

                    {% if knack != ' ' %}
                    <hr>
                    <p>小窍门：<br>{{ knack }}</p>
                    {% endif %}

                    {% if family != ' ' %}
                    <hr>
                    <p>分类：<br>{{ family }}</p>
                    {% endif %}
                    <hr>
{#					<div class="more">#}
{#						<a href="single.html">More Info...</a>#}
{#					</div>#}
				</div>
            </div>
        </div>
    </div>

<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>