<!DOCTYPE html>
<html>
<head>
<title>主页</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#<meta name="keywords" content="Best Bakery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,#}
{#Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />#}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
    <style type="text/css">
        .item-sub{
            background:url({{ image1 }}) no-repeat 0px 0px;
            background-size:cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            -ms-background-size:cover;
        }
        .item-sub1{
            background:url({{ image2 }}) no-repeat 0px 0px;
            background-size:cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            -ms-background-size:cover;
        }
        .item-sub2{
            background:url({{ image3 }}) no-repeat 0px 0px;
            background-size:cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            -ms-background-size:cover;
        }
        .item-sub3{
            background:url({{ image4 }}) no-repeat 0px 0px;
            background-size:cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            -ms-background-size:cover;
        }
    </style>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- animation-effect -->
<link href="/static/css/animate.min.css" rel="stylesheet">
<script src="/static/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<link href='https://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
</head>
<body>
<!-- banner -->
	<div class="banner-figures">
		<div class="banner">
			<div class="container banner-drop">
				<div class="header">
					<div class="header-left">
						<br><br><br><br>
					</div>
					<div class="header-right">
						<nav>
						  <ul>
							<li class="active">
								<a href="/"><i class="glyphicon glyphicon-home" aria-hidden="true"></i><span>主页</span></a>
							</li>
							<li>
								<a href="/search"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i><span>搜索</span></a>
							</li>
							<li>
								<a href="/recommend"><i class="glyphicon glyphicon-text-size" aria-hidden="true"></i><span>每日推荐</span></a>
							</li>
							<li>
								<a href="/classify"><i class="glyphicon glyphicon-picture" aria-hidden="true"></i><span>分类</span></a>
							</li>
							<li>
								<a href="/mail"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>留言</span></a>
							</li>
						  </ul>
						</nav>
						<div class="menu-icon animated wow zoomIn" data-wow-duration="1000ms" data-wow-delay="800ms"><span></span></div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="logo animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h1><a><span>生活需要多一点滋味</span>“每时美味”</a></h1>
				</div>
				<div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
				</div>
			</div>
		</div>
			<script>
				(function($){
				  $(".menu-icon").on("click", function(){
						$(this).toggleClass("open");
						$(".container").toggleClass("nav-open");
						$("nav ul li").toggleClass("animate");
				  });

				})(jQuery);
			</script>
	</div>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom animated wow lightSpeedIn" data-wow-duration="1500ms" data-wow-delay="800ms">
		<ul id="flexiselDemo1">
			<li>
				<div class="item item-sub">
					<div class="item1">
						<i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
						<h3>food</h3>
					</div>
					<div class="p-mask">
                        <h4><a  href="/blog/{{ name1 }}/">{{ name1 }}</a></h4>
<!-- 						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
							amet, consectetur, adipisci velit.</p> -->
					</div>
				</div>
			</li>
			<li>
				<div class="item item-sub1">
					<div class="item1">
						<i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
						<h3>food</h3>
					</div>
					<div class="p-mask">
						<h4><a  href="/blog/{{ name2 }}/">{{ name2 }}</a></h4>
<!-- 						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
							amet, consectetur, adipisci velit.</p> -->
					</div>
				</div>
			</li>
			<li>
				<div class="item item-sub2">
					<div class="item1">
						<i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
						<h3>food</h3>
					</div>
					<div class="p-mask">
						<h4><a  href="/blog/{{ name3 }}/">{{ name3 }}</a></h4>
<!-- 						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
							amet, consectetur, adipisci velit.</p> -->
					</div>
				</div>
			</li>
			<li>
				<div class="item item-sub3">
					<div class="item1">
						<i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
						<h3>food</h3>
					</div>
					<div class="p-mask">
						<h4><a  href="/blog/{{ name4 }}/">{{ name4 }}</a></h4>
<!-- 						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
							amet, consectetur, adipisci velit.</p> -->
					</div>
				</div>
			</li>
		</ul>
			<script type="text/javascript">
				$(window).load(function() {
				$("#flexiselDemo1").flexisel({
					visibleItems: 4,
					animationSpeed: 1000,
					autoPlay: true,
					autoPlaySpeed: 3000,
					pauseOnHover: true,
					enableResponsiveBreakpoints: true,
					responsiveBreakpoints: { 
						portrait: { 
							changePoint:480,
							visibleItems: 1
						}, 
						landscape: { 
							changePoint:640,
							visibleItems: 2
						},
						tablet: { 
							changePoint:768,
							visibleItems: 3
						}
					}
				});
			 });
			</script>
			<script type="text/javascript" src="../static/js/jquery.flexisel.js"></script>
	</div>
<!-- //banner-bottom -->
<!-- banner-bottom-grids -->
	<div class="banner-bottom-grids">
		<div class="col-md-7 banner-bottom-grid-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
			<h2>美食就在这里<span>不论你来与不来</span></h2>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美食当前，总有所思，你往往可以找到一份心的平静，在某个角落里慢慢的咀嚼，轻轻的回味，非比寻常的滋味。虽然每个城市有着不同的风景，也许是流水江南，烟笼人家；也许是舞榭亭台,长街曲巷；也许是流光溢彩，店铺林立；但在陌生城市最美好的事情，莫过于餐桌边刚好适合你的一蔬一饭，舌尖上的一饮一啄。</p>
			<div class="more">
				<a href="recommend">更多...</a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<br><br>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>